/* reset */
html, body, h1, h2, h3, h4, p, ul, ol, li, dl, dd {margin: 0;padding:0;}
ul, ol {list-style: none;}
img {border:0;vertical-align: top;}
button {border:0;-webkit-border-radius:0;border-radius:0;margin:0;padding:0;background-color:transparent;vertical-align: top;cursor: pointer;box-sizing: border-box;}
a {text-decoration: none;}
div {box-sizing: border-box;}
/* //reset */

.h-teg {max-width: 1600px;min-width: 1000px;margin: 0 auto;line-height: 1;height: 100vh;display: flex;justify-content: center;align-items: center;}
.h-teg .blind {position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;clip: rect(0 0 0 0);overflow: hidden;text-indent: -5000em;}
.h-teg .bg-img {background-repeat: no-repeat;background-position: center top;background-size: 100%;}

.h-teg .wrapper-inner {width: 100%;background-image: url(../images/background/bg.jpg);position: relative;}
.h-teg .wrapper-inner .button-imgsave {width: 10.0625%;padding-top: 6.625%;background-image: url(../images/background/button-imgsave.png);clip-path: polygon(8% 0, 100% 0, 100% 100%, 8% 100%);position: absolute;right: 1.2%;bottom: 0;margin-bottom: 9.5%;}
.h-teg .wrapper-inner .button-imgsave:hover {transform: translateY(-10px);}

.h-teg .name-teg {width: 12.9375%;padding-top: 6.0625%;background-image: url(../images/background/user_tag.png);position: absolute;left: 5.8125%;margin-top: 3.6875%;}
.h-teg .area-games {display: flex;justify-content: space-between;padding: 3.0625% 10.875% 3.9375% 7.4375%;}
.h-teg .area-games [class^="division-"] {width: 47.74322%;position: relative;}

/* 캐릭터 */
.h-teg .division-character .slot-wear {width: 100%;position: absolute;top: 0;left: 0;z-index: 10;}
.h-teg .division-character .slot-wear [class^="wear-"] {width: 100%;padding-top: 126.44230769231%;position: absolute;top: 0;left: 0;}
.h-teg .division-character .slot-wear .wear-acc {background-image: url(../images/user/character-select-item.png);z-index: 2;}
.h-teg .division-character .slot-wear .wear-clothes {background-image: url(../images/user/character-select-item.png);}
.h-teg .division-character .slot-wear .wear-shoes {background-image: url(../images/user/character-select-item.png);}
.h-teg .division-character .slot-character {position: relative;width: 100%;padding-top: 126.44230769231%;background-image: url(../images/user/character.png);}
.h-teg .division-character .slot-character.mark::after {content: ''; width: 17.30769230769%;padding-top: 16.02564102564%;background-image: url(../images/background/watermark.png);background-size: cover;background-repeat: no-repeat;background-position: center top; position: absolute;right: 6.73076923077%;bottom: 0;margin-bottom: 3.04487179487%;z-index: 10;}
/* //캐릭터 */

/* 탭버튼 */
.h-teg .slot-buttons {width: 25.48076923077%;position: absolute;right: -21.47435897436%;margin-top: 8.97435897436%;}
.h-teg .slot-buttons [class^="button-tab--"] {position: relative;width: 100%;padding-top: 64.77987421384%;display: block;clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%);}
.h-teg .slot-buttons [class^="button-tab--"]:hover {transform: translateY(-10px);}
.h-teg .slot-buttons [class^="button-tab--"] + [class^="button-tab--"] {margin-top: 15.72327044025%;}
.h-teg .slot-buttons [class^="button-tab--"].is-active {clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);}
.h-teg .slot-buttons [class^="button-tab--"].is-active:hover {transform: translateY(0);}
.h-teg .slot-buttons .button-tab--acc {background-image: url(../images/background/tag-acc.png);}
.h-teg .slot-buttons .button-tab--clothes {background-image: url(../images/background/tag-clothes.png);}
.h-teg .slot-buttons .button-tab--shoes {background-image: url(../images/background/tag-shoes.png);}
/* //탭버튼 */

.h-teg [class^="unit-content--"] {display: none;}
.h-teg [class^="unit-content--"].is-active {display: block;}
.h-teg [class^="unit-content--"] .item-bundle [class^="item-"] {padding-top: 126.44230769231%;}
.h-teg [class^="unit-content--"] .item-bundle--two [class^="item-"] {padding-top: 63.30128205128%;}
.h-teg [class^="unit-content--"] [class*="item-bundle"] [class^="item-"] {width: 100%;display: block;}
.h-teg [class^="unit-content--"] [class*="item-bundle"] [class^="item-"]:hover {transform: translateY(-10px);}

/* 슬라이드아이템 */
.h-teg .unit-content--acc .item-bundle .item-01 {background-image: url(../images/slide/acc-01.png);}
.h-teg .unit-content--acc .item-bundle .item-02 {background-image: url(../images/slide/acc-02.png);}
.h-teg .unit-content--acc .item-bundle .item-03 {background-image: url(../images/slide/acc-03.png);}
.h-teg .unit-content--acc .item-bundle .item-04 {background-image: url(../images/slide/acc-04.png);}
.h-teg .unit-content--acc .item-bundle .item-05 {background-image: url(../images/slide/acc-05.png);}
.h-teg .unit-content--acc .item-bundle .item-06 {background-image: url(../images/slide/acc-06.png);}
.h-teg .unit-content--acc .item-bundle .item-07 {background-image: url(../images/slide/acc-07.png);}
.h-teg .unit-content--acc .item-bundle .item-08 {background-image: url(../images/slide/acc-08.png);}
.h-teg .unit-content--acc .item-bundle .item-09 {background-image: url(../images/slide/acc-09.png);}
.h-teg .unit-content--acc .item-bundle .item-10 {background-image: url(../images/slide/acc-10.png);}
.h-teg .unit-content--acc .item-bundle--two .item-01 {background-image: url(../images/slide/acc-01.png);}
.h-teg .unit-content--acc .item-bundle--two .item-02 {background-image: url(../images/slide/acc-02.png);}
.h-teg .unit-content--acc .item-bundle--two .item-03 {background-image: url(../images/slide/acc-03.png);}
.h-teg .unit-content--acc .item-bundle--two .item-04 {background-image: url(../images/slide/acc-04.png);}
.h-teg .unit-content--acc .item-bundle--two .item-05 {background-image: url(../images/slide/acc-05.png);}
.h-teg .unit-content--acc .item-bundle--two .item-06 {background-image: url(../images/slide/acc-06.png);}
.h-teg .unit-content--acc .item-bundle--two .item-07 {background-image: url(../images/slide/acc-07.png);}
.h-teg .unit-content--acc .item-bundle--two .item-08 {background-image: url(../images/slide/acc-08.png);}
.h-teg .unit-content--acc .item-bundle--two .item-09 {background-image: url(../images/slide/acc-09.png);}
.h-teg .unit-content--acc .item-bundle--two .item-10 {background-image: url(../images/slide/acc-10.png);}

.h-teg .unit-content--clothes .item-bundle .item-01 {background-image: url(../images/slide/clothes-01.png);}
.h-teg .unit-content--clothes .item-bundle .item-02 {background-image: url(../images/slide/clothes-02.png);}
.h-teg .unit-content--clothes .item-bundle .item-03 {background-image: url(../images/slide/clothes-03.png);}
.h-teg .unit-content--clothes .item-bundle .item-04 {background-image: url(../images/slide/clothes-04.png);}
.h-teg .unit-content--clothes .item-bundle .item-05 {background-image: url(../images/slide/clothes-05.png);}
.h-teg .unit-content--clothes .item-bundle .item-06 {background-image: url(../images/slide/clothes-06.png);}
.h-teg .unit-content--clothes .item-bundle .item-07 {background-image: url(../images/slide/clothes-07.png);}
.h-teg .unit-content--clothes .item-bundle .item-08 {background-image: url(../images/slide/clothes-08.png);}
.h-teg .unit-content--clothes .item-bundle .item-09 {background-image: url(../images/slide/clothes-09.png);}
.h-teg .unit-content--clothes .item-bundle .item-10 {background-image: url(../images/slide/clothes-10.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-01 {background-image: url(../images/slide/clothes-01.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-02 {background-image: url(../images/slide/clothes-02.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-03 {background-image: url(../images/slide/clothes-03.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-04 {background-image: url(../images/slide/clothes-04.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-05 {background-image: url(../images/slide/clothes-05.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-06 {background-image: url(../images/slide/clothes-06.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-07 {background-image: url(../images/slide/clothes-07.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-08 {background-image: url(../images/slide/clothes-08.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-09 {background-image: url(../images/slide/clothes-09.png);}
.h-teg .unit-content--clothes .item-bundle--two .item-10 {background-image: url(../images/slide/clothes-10.png);}

.h-teg .unit-content--shoes .item-bundle .item-01 {background-image: url(../images/slide/shoes-01.png);}
.h-teg .unit-content--shoes .item-bundle .item-02 {background-image: url(../images/slide/shoes-02.png);}
.h-teg .unit-content--shoes .item-bundle .item-03 {background-image: url(../images/slide/shoes-03.png);}
.h-teg .unit-content--shoes .item-bundle .item-04 {background-image: url(../images/slide/shoes-04.png);}
.h-teg .unit-content--shoes .item-bundle .item-05 {background-image: url(../images/slide/shoes-05.png);}
.h-teg .unit-content--shoes .item-bundle .item-06 {background-image: url(../images/slide/shoes-06.png);}
.h-teg .unit-content--shoes .item-bundle .item-07 {background-image: url(../images/slide/shoes-07.png);}
.h-teg .unit-content--shoes .item-bundle .item-08 {background-image: url(../images/slide/shoes-08.png);}
.h-teg .unit-content--shoes .item-bundle .item-09 {background-image: url(../images/slide/shoes-09.png);}
.h-teg .unit-content--shoes .item-bundle .item-10 {background-image: url(../images/slide/shoes-10.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-01 {background-image: url(../images/slide/shoes-01.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-02 {background-image: url(../images/slide/shoes-02.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-03 {background-image: url(../images/slide/shoes-03.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-04 {background-image: url(../images/slide/shoes-04.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-05 {background-image: url(../images/slide/shoes-05.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-06 {background-image: url(../images/slide/shoes-06.png);pointer-events : none;}
.h-teg .unit-content--shoes .item-bundle--two .item-07 {background-image: url(../images/slide/shoes-07.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-08 {background-image: url(../images/slide/shoes-08.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-09 {background-image: url(../images/slide/shoes-09.png);}
.h-teg .unit-content--shoes .item-bundle--two .item-10 {background-image: url(../images/slide/shoes-10.png);}
/* //슬라이드아이템 */

/* 슬라이드 버튼 */
.h-teg [class^="unit-content--"] .content-item {position: relative;}
.h-teg [class^="unit-content--"] .content-item [class^="button-slide--"] {width: 18.91025641026%;padding-top: 12.82051282051%;position: absolute;bottom: 0;margin-bottom: 0.96153846154%;z-index: 100;}
.h-teg [class^="unit-content--"] .content-item [class^="button-slide--"]:hover {transform: translateY(-10px);}
.h-teg [class^="unit-content--"] .content-item .button-slide--prev {left: 0;background-image: url(../images/background/arr-left.png);}
.h-teg [class^="unit-content--"] .content-item .button-slide--next {right: 0;background-image: url(../images/background/arr-right.png);}
/* // 슬라이드 버튼 */